.shoppingCartItem {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.shoppingCartItem > img {
  height: 180px;
  width: 180px;
  object-fit: contain;
}

.shoppingCartItem__price {
  margin-top: 5px;
}

.shoppingCartItem__info {
  padding-left: 20px;
}

.shoppingCartItem > div > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.shoppingCartItem__rating {
  display: flex;
}

.shoppingCartItem__title {
  font-size: 17px;
  font-weight: 800;
}

.shoppingCartItem__rating > span {
  margin-right: 5px;
}
